[submodule "Libs/Box2D"]
	path = Libs/Box2D
	url = https://github.com/erincatto/Box2D
[submodule "Libs/rapidjson"]
	path = Libs/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "Libs/RapidJson"]
	path = Libs/RapidJson
	url = https://github.com/Tencent/rapidjson
[submodule "Libs/Reflex"]
	path = Libs/Reflex
	url = https://gogs.cub3d.pw/CUB3D/Reflex.git
[submodule "Libs/assimp"]
	path = Libs/assimp
	url = https://github.com/assimp/assimp
[submodule "Libs/glm"]
	path = Libs/glm
	url = https://github.com/g-truc/glm
[submodule "Libs/imgui"]
    path = Libs/imgui
    url = https://github.com/ocornut/imgui
[submodule "Libs/libPAK"]
	path = Libs/libPAK
	url = https://gogs.cub3d.pw/CUB3D/libPAK
