[submodule "tools/build"]
	path = tools/build
	url = https://github.com/CUB3D/cbuild.git
[submodule "Libs/Box2D"]
	path = Libs/Box2D
	url = https://github.com/erincatto/Box2D
[submodule "Libs/rapidjson"]
	path = Libs/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "Libs/RapidJson"]
	path = Libs/RapidJson
	url = https://github.com/Tencent/rapidjson
